<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<html>
<head>
  <title>Ввод данных нового продукта</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<h1>Введите данные нового продукта</h1>

<div class="fluid-container">
  <nav>
    <div th:replace="~{header-menu :: headermenu(showform)}">
    </div>
  </nav>
</div>

<body>
<div class="container">
<form th:action="@{/product/processForm}" th:object="${product}" method="post">
  <table>
    <tr>
      <div class='is-node custom-form'>
      <td><label>Название продукта: </label></td><td><input type="text" th:field="*{title}"/></td>
      </div>
    </tr>
    <tr>
      <div class='is-node custom-form'>
      <td><label>Цена: </label></td><td><input type="text" th:field="*{price}"/></td>
      </div>
    </tr>
    <tr>
    <td><input name="submit" type="submit" value="submit" /></td>
    </tr>

  </table>

</form>
</div>
</body>

</html>